
.backgroundCover {
  background-size: 100%;
  opacity: 0.53;
  height: 100%;
  position: fixed;
  background-color: #f6f6f6;

}

.headerText {
  width: 461px;
  height: 48px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}


.subHeaderText {
  width: 285px;
height: 16px;
font-family: Roboto;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.19;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}
