.cardBackground {

background-color: #ffffff;
border-width: 5px #ffffff;
}
.imageHolder {
  max-height: 160;
}

.propertyTitle {
  margin-left: 10px;
  width: 177px;
 height: 29px;
 font-family: Roboto;
 font-size: 13px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 letter-spacing: normal;
 text-align: left;
 color: #343434;
}
.info {
  margin-left: 10px;
}
.resp {
  height: 100%; width: 100%; object-fit: contain
}
.imageContainer {
    position: relative;
    text-align: center;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 0px;
    color: #ffffff;
    background-color:  #3ec6ff;
    padding: 10px;
    width: 72px;

}
.Date {
  width: 90px;
  height: 11px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #868686;
  margin-top: 10px;
}
